:root {
    --primary-color: rgb(55, 102, 146);
    --secodary-color: rgb(247, 172, 34);
    --dark-color: rgb(65, 63, 63);
    --white-color: rgb(225, 236, 229);
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

.footer-text {
    font-size: 0.8rem;
}

i {
    color: var(--white-color);
    opacity: 0.75;
}

footer i:hover {
    opacity: 0.9;
    color: var(--secodary-color);
}

.bsicon {
    color: #553c7b;
}

.jsicon {
    color: #f0db4f;
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: rgb(11, 82, 214);
}

.checklist>li i {
    color: var(--secodary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main>.container {
    padding: 60px 15px 0;
}